.services-wrapper{
    height:100vh;
    min-width: 100vw;
    .services-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 4rem;
        .services-title{
             margin-left: 8vw;
            letter-spacing:3px;
            letter-spacing:3px;
            font-family: 'IBM Plex Mono', monospace;
            font-weight: 500;
            font-size: clamp(30px, 12vw, 30vw);
            -webkit-text-stroke: 2px rgb(218, 218, 218);
            color:rgba($color: $primary-color, $alpha: .08);
            margin-bottom: 2rem;

        }
        .service-title{
            margin-left:8vw;
            font-size: clamp(20px, 3vw, 10vw);
            font-weight: bold;
            letter-spacing: 2px;
        }
        .services-description{
            font-size:clamp(12px, 1.5vw, 7vw);
            margin-top: 1rem;
            line-height: 35px;
            letter-spacing: .5px;
            margin-left: 8vw;
            width: 70%;
            font-weight: 100;

        }
    }
}

@media (min-width: 320px) and (max-width: 680px) {
    /* 
      Device = Most of the Smartphones Mobiles (Portrait)
      Screen = 320px to 479px
    */
  .services-wrapper{
    .services-container{
        .services-title{
            -webkit-text-stroke: 1px rgb(218, 218, 218);
            color:rgba($color: $primary-color, $alpha: .02);
            margin-left: 8vw;
        }
        .service-title{
            margin-left: 8vw;
        }
        .services-description{
            margin-left: 8vw;
        }
    }
  }

}