@charset "UTF-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 100vw;
	height: 100vh;
	background: black;
}
nav{
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: auto;
	align-items: center;
}
ul{
	display: flex;
	list-style: none;
}
li{
	padding: 1rem 2rem;
}
a{
	text-decoration: none;
	color: white;
	font-family: "Fjalla One";
	font-size: 1.5rem
}
.logo{
	color: white;
	padding: 2rem;
	font-family: "Fjalla One";
	font-size: 2.5rem;
	margin-left: -3rem;
}
span{
	font-family: ScreenMatrix;
	font-size: 3rem
}
.rectangle{
	width: 40%;
	background-color: #383838;
	padding: 1rem 2rem 5rem;
	margin-left: 15%;
	margin-top: 5%;
}

h1{
	color: white;
	font-size: 2.2rem;
}
p{
	color: white;
	
}
.btn-1 {
	background-color: black;
	color: white;
	padding: 0.7rem 1.5rem;
	font-size: 1.2rem;
	font-family: "Fjalla One";
	margin-right: 1.5rem;
	margin-left: 1rem;
	border: none;
	transition: 0.4s ease;
}

.btn-1:hover {
	background-color: white;
	color: black;

}

.btn-2 {
	font-family: "Fjalla One";
	background: none;
	border: none;
	color: #787878;
	align-items: center;
}
.iconMaterialPlayCircleOutline {
	width: 1rem;
	height: 1rem;
	color: #787878;
}

@media only screen and (max-width: 1080px) {
  .rectangle{
      width: 80% ;
	  margin: auto;
	  margin-top: 1rem;
	  padding-bottom: 3rem;
  }
	.logo{
		font-size: 1.7rem;
		margin: auto;
	}
	span{
		font-size: 2rem;
	}
	h1{
		color: white;
		font-size: 2rem;
	}
	p{
		color: #C9C9C9;
	}
	ul{
		display: none;
	}
	
}
