.nav{
    display: flex;
    position: fixed;
    width: 96.5vw;
    z-index: 10;
    justify-content:space-between;
    margin: 1vw 2vw;
}

.pages {
 display: flex;
 gap: 1rem;
}
.index1{
    --index: 0;
}
.index2{
    --index: 1;
}.index3{
    --index: 2;
}
.stack {
    --stacks: 3;
    display: grid;
    grid-template-columns: 1fr;
    &:hover{
        span{

            animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
        }
    }
  }
  
  .stack span {
    grid-row-start: 1;
    grid-column-start: 1;

    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    

  }
  
  .stack span:nth-child(odd) { --glitch-translate: 8px; }
  .stack span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-20%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    };
    60% {
      opacity: 0.5;
      transform: translateX(20%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 yellow;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 red, 2px -3px 0 yellow;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 red, -2px 3px 0 yellow;
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }

  @media (min-width: 320px) and (max-width: 680px) {
    /* 
      Device = Most of the Smartphones Mobiles (Portrait)
      Screen = 320px to 479px
    */

    .pages{
      display: none;
    }
  }